/* discription form start */

.form {
    margin-top: .1rem;
    min-height: 7rem;
    background-color: #fff;
}

.description-input {
    width: 94%;
    min-height: 2rem;
    padding: .05rem .1rem;
    line-height: 1.7;
    margin-left: .1rem;
    margin-right: .1rem;
    margin-bottom: .2rem;
    border-radius: 5px;

    &:focus {
        border: 1px solid $main-blue;
    }
}

.submit-question-btn {

    &:active {
        color: #fff;
    }
}

.cancel-question-btn {

}

/* discription form end */
