/* question index start */

$camera-ask-size: 2rem;

.index {
    text-align: center;
    background-color: $main-blue;
    min-height: 7rem;

    .ask-record {
        font-size: 12px;
        color: #fff;
        padding: .03rem .08rem;
        border-radius: 10px;
        position: fixed;
        top: .15rem;
        right: .15rem;
        border: 1px solid #ccc;
        letter-spacing: 3px;
    }

    .camera-ask {
        width: $camera-ask-size;
        height: $camera-ask-size;
        border-radius: 50%;
        background-color: #fff;
        @include display-center;

        .camera-img {

        }

        .camera-tip-text {
            font-size: 18px;
            color: $main-blue;
            font-weight: bold;
            position: absolute;
            left: 50%;
            bottom: .2rem;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }

    .landscape-tips {
        font-size: 12px;
        color: #fff;
        position: fixed;
        left: 0;
        bottom: 1.1rem;
        text-align: center;
        width: 100%;
    }
    .text-ask {
        font-size: 16px;
        color: #fff;
        position: fixed;
        left: 0;
        bottom: .7rem;
        text-align: center;
        width: 100%;

        .text-img {

        }
    }

}

/* question index end */
