<div ms-controller="article" class="detail">
    <h2 class="title">{{title}}</h2>
    <div class="created-time">{{created | date()}}</div>
    <div class="content">{{content | html}}</div>

    <div class="task-helper-btn" ms-click="showShareMask">领积分</div>

    <div class="shareMask" ms-visible="shareMaskShow">

        <img src="../../build/images/shareMask-top.png" />

        <p class="task-shareMask-tip-text hide">分享拿积分</p>

        <img class="wxShareIcon" src="../../build/images/shareMask-wxShare-icon.png" />

        <img src="../../build/images/shareMask-adText.png" />

        <div class="iKnow" ms-click="hideShareMask">朕知道了</div>

        <img class="shareMaskBottom" src="../../build/images/shareMask-bottom.png" />

    </div>

    <ul class="pageinfo list">

        <div class="like" ms-if="hasLiked == false" ms-click="like()"></div>
        <div class="like" ms-class-1="hasLiked: hasLiked == true" ms-if="hasLiked == true"></div>
        <div class="like-num-wrapper"><span class="like-num" ms-class-1="like-num-update: hasLiked == true">{{likeCount}}</span>位朋友点了赞</div>

        <li class="visit" ms-click="showShareMask">阅读  {{visitCount}}</li>
        <li class="share" ms-click="showShareMask" ms-if="isShared != true">分享  {{shareCount}}</li>
        <li class="share" ms-click="showShareMask" ms-if="isShared == true">分享  {{shareCount}} (+1)</li>
        <div class="report" ms-click="report">举报</div>

    </ul>
    <!-- koudai jinbi start -->
    <div class="koudai-wrapper" ms-if="isShared === true">
        <div class="item1">
            <div class="kodai">
                <img src="http://www.17sucai.com/preview/1/2015-07-12/金币抛洒/images/kd2.png" class="full" />
                <img src="http://www.17sucai.com/preview/1/2015-07-12/金币抛洒/images/kd1.png" class="empty" />
            </div>
            <div class="clipped-box"></div>
        </div>
        <p id="html"></p></p>
    </div>
    <!-- koudai jinbi end -->

    <!--<div id="jumphelper" class="gotop">-->
    <!--    <a href="javascript:void(0)" id="gotop"></a>-->
    <!--</div>-->
    
</div>

