<!-- taskList start -->
<div class="task-list" ms-controller="taskList">

    <div class="top-score-area area"></div>
    <div class="top-win-area area"></div>
    <!-- item start -->
    <div class="item-wrapper">
        <div class="title-img"></div>

        <!-- task列表 start -->
        <div class="item area list-card" ms-repeat-item="lists">
            <div ms-click="goSpecTask(this)" ms-attr-data-taskType="item.taskType" ms-attr-data-taskId="item._id" ms-attr-data-taskScoreAward="item.scoreAward">

                <div ms-attr-class="'item-img area taskNo' + $index"></div> 

                <div class="task-content area">
                    <h2 class="item-title task-info">{{item.name}}</h2>
                    <div class="item-bottom">
                        <div class="participants-wrapper area"><i class="icon-participants"></i>: {{item.participants}}</div>
                        <div class="score-wrapper area"><i class="icon-score"></i>: {{item.scoreAward}}</div>
                    </div>
                </div>

                <div class="big-icon-wrapper area">
                    <div ms-attr-class="'goGetIt goGetIt' + $index"></div>
                </div>

            </div>
        </div>
        <!-- task列表 end -->

    </div>
    <!-- item end -->

    <div class="show-more hide" ms-click="showMore()" ms-if="isLoading != true">
        加载更多
    </div>

    <!-- 加载中 -->
    <div class="show-more hide" class="isLoading" ms-if="isLoading == true">
        <span>加载中<span class="loading-with-dot"></span></span>
    </div>

</div>
<!-- taskList end -->

