<div ms-controller="mall" class="mall">
    
    <div class="mall-top-bg"></div>

    <div class="mall-wrapper">

        <div class="silk-common mall-wrapper-silk">奖品展示</div>

        <div class="mall-item" ms-repeat-item="lists">
            <div class="img-wrapper area">
                <img class="area" ms-attr-src="'http://resource.hizuoye.com/' + item.imageKey" ms-attr-alt="item.productName" />
                <div class="area price">{{item.score}}积分</div>
            </div>
            <div class="title text-overflow">{{item.productName}}</div>
            <div class="exchangeTimes">
                <!--<i class="icon icon-exchangeTimes"></i>-->
                <span>兑换</span>
                {{item.exchangeTimes}}
            </div>
            <div class="stock">
                <!--<i class="icon icon-stock"></i>-->
                <span>库存</span>
                {{item.stock}}
            </div>
        </div>
    </div>

    <div class="mall-rules">
        <div class="silk-common mall-rules-silk">兑换规则</div>
        <p class="rules-text">
            {{rules}}
        </p>
    </div>

</div>

