<div ms-controller="mall" class="mall">
    <div class="mall-wrapper">
        <div class="mall-item">
            <div class="img-wrapper area">
                <img class="area" src="http://g-ec4.images-amazon.com/images/G/28/lt/qinzistore/438-300._UX292_SX292_V302887286_.jpg" alt="步步高打火机,哪里不会点哪里" />
                <div class="area price">1000积分</div>
            </div>
            <div class="area title">步步高打火机，哪里不会点哪里</div>
        </div>
        <div class="mall-item">
            <div class="img-wrapper area">
                <img class="area" src="http://g-ec4.images-amazon.com/images/G/28/lt/qinzistore/438-300._UX292_SX292_V302887286_.jpg" alt="步步高打火机,哪里不会点哪里" />
                <div class="area price">1000积分</div>
            </div>
            <div class="area title">步步高打火机，哪里不会点哪里</div>
        </div>
        <div class="mall-item">
            <div class="img-wrapper area">
                <img class="area" src="http://g-ec4.images-amazon.com/images/G/28/lt/qinzistore/438-300._UX292_SX292_V302887286_.jpg" alt="步步高打火机,哪里不会点哪里" />
                <div class="area price">1000积分</div>
            </div>
            <div class="area title">步步高打火机，哪里不会点哪里</div>
        </div>
        <div class="mall-item">
            <div class="img-wrapper area">
                <img class="area" src="http://g-ec4.images-amazon.com/images/G/28/lt/qinzistore/438-300._UX292_SX292_V302887286_.jpg" alt="步步高打火机,哪里不会点哪里" />
                <div class="area price">1000积分</div>
            </div>
            <div class="area title">步步高打火机，哪里不会点哪里</div>
        </div>
        <div class="mall-item">
            <div class="img-wrapper area">
                <img class="area" src="http://g-ec4.images-amazon.com/images/G/28/lt/qinzistore/438-300._UX292_SX292_V302887286_.jpg" alt="步步高打火机,哪里不会点哪里" />
                <div class="area price">1000积分</div>
            </div>
            <div class="area title">步步高打火机，哪里不会点哪里</div>
        </div>
        <div class="mall-item">
            <div class="img-wrapper area">
                <img class="area" src="http://g-ec4.images-amazon.com/images/G/28/lt/qinzistore/438-300._UX292_SX292_V302887286_.jpg" alt="步步高打火机,哪里不会点哪里" />
                <div class="area price">1000积分</div>
            </div>
            <div class="area title">步步高打火机，哪里不会点哪里</div>
        </div>
    </div>
</div>

