<div ms-controller="rank" class="rank">
    <div class="yo-list yo-list-group">
        <div class="item">
            <div class="flex">
                <div class="area name">姓名</div>
                <div class="area score">积分</div>
            </div>
            <div class="rank-symbol">
                <h3>评级</h3>
            </div>
        </div>
        <div class="item">
            <div class="flex">
                <div class="area name">IndexXuan</div>
                <div class="area score">10000</div>
            </div>
            <div class="yo-score">
                <h3 class="index" style="width:100%;">当前评分：3分</h3>
            </div>
        </div>
        <div class="item">
            <div class="flex">
                <div class="area name">IndexXuan</div>
                <div class="area score">8000</div>
            </div>
            <div class="yo-score">
                <h3 class="index" style="width:80%;">当前评分：3分</h3>
            </div>
        </div>
        <div class="item">
            <div class="flex">
                <div class="area name">IndexXuan</div>
                <div class="area score">6000</div>
            </div>
            <div class="yo-score">
                <h3 class="index" style="width:60%;">当前评分：3分</h3>
            </div>
        </div>
        <div class="item">
            <div class="flex">
                <div class="area name">IndexXuan</div>
                <div class="area score">4000</div>
            </div>
            <div class="yo-score">
                <h3 class="index" style="width:40%;">当前评分：3分</h3>
            </div>
        </div>
        <div class="item">
            <div class="flex">
                <div class="area name">IndexXuan</div>
                <div class="area score">2000</div>
            </div>
            <div class="yo-score">
                <h3 class="index" style="width:20%;">当前评分：3分</h3>
            </div>
        </div>
    </div>
</div>

