<div ms-controller="rank" class="rank">
    <ul class="rank-ul yo-list">
        <li class="rank-li item">
            <div class="rank-div mark">排名</div>
            <div class="name-div flex">姓名</div>
            <div class="score-div">积分</div>
        </li>
        <li class="rank-li item">
            <div class="rank-div mark">1</div>
            <div class="name-div flex"><img src="https://avatars3.githubusercontent.com/u/1207956?v=3&s=40" class="avatar" alt="" />IndexXuan</div>
            <div class="score-div">1000</div>
        </li>
        <li class="rank-li item">
            <div class="rank-div mark">2</div>
            <div class="name-div flex"><img src="https://avatars3.githubusercontent.com/u/1207956?v=3&s=40" class="avatar" alt="" />IndexXuan</div>
            <div class="score-div">800</div>
        </li>
        <li class="rank-li item">
            <div class="rank-div mark">3</div>
            <div class="name-div flex"><img src="https://avatars3.githubusercontent.com/u/1207956?v=3&s=40" class="avatar" alt="" />IndexXuan</div>
            <div class="score-div">600</div>
        </li>
    </ul>
</div>

