/*******************************************************
> File Name: homework.scss 
> Author: IndexXuan
> Mail: indexxuan@gmail.com
> Created Time: 2015年07月13日 星期一 18时01分34秒
 ******************************************************/


@import "../_normalize.scss";
/*@import "../../Yo/lib/core/variables.scss";*/
@import "../../Yo/lib/core/reset.scss";
/*@import "../../Yo/lib/core/classes.scss";*/
/*@import "../../Yo/lib/fragment/yo-header.scss";*/
@import "../common.scss";

/* reset vars and vars start */
$img_width: 20%;
$img_height: .7rem;
$answer_panel_height: 1.5rem;
$next_radius: $answer_panel_height / 2;
/* reset vars and vars end */

#splash {
    z-index: 99999;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: yellow;
    font-size: .8rem;
}
.app {
    min-height: 4.5rem;
}

/* override the Yo style */
#header .affirm {
    color: #fff;
}
/* common item start */
.item-wrapper {
    padding: .10rem .08rem;

    .item {
        width: 100%;
        text-align: left;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        -webkit-box-shadow: 0px 0px 5px #9c9c9c;
        box-shadow: 0px 0px 5px #e5d8d8;
        padding: .06rem .05rem;
        margin-bottom: .1rem;

        .list-card {
            display:  inline-block;
            position: relative;
            width: 100%;

            .item-img {
                width: $img_width;
                margin-right: .05rem;
                height: $img_height;
                border: 1px solid #eee;
                vertical-align: middle;
                border: 0;
                -ms-interpolation-mode: bicubic;
            }

            // 右侧作业信息
            .hw-info {
                width: 75%;
                height: .22rem;
                line-height: .22rem;
                font-size: .14rem;
                margin-top: -.02rem;

                .item-title {
                    width: 92%;
                    margin-top: .01rem;
                    max-height: $item_title_height;
                    word-break: break-all;
                    color: $g_font_color;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .time {
                    display: inline-block;
                    width: 92%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    position: relative;
                    top: .03rem; // fix
                }

                .finish_count {
                    display: inline-block;
                    vertical-align: bottom;
                    width: 100%;

                    .icon-people {
                        width: .16rem;
                        height: .16rem;
                        display: inline-block;
                        vertical-align: middle;
                        /* 下面两条规则适配高分屏 */
                        background: url(../../assets/images/iconfont-xinzengrenshu.png) no-repeat;
                        background-size: 100%;
                        margin-right: .08rem;
                        margin-top: -0.02rem;                   
                    }

                }

            }

            .todo {
                position: absolute;
                right: 10px;
                font-size: .14rem;
                /*bottom: 25px;*/
                height: $img_height;
                line-height: $img_height;
            }

        }

    }

}
/* common item end */

/* detail start */
.detail {
    font-size: .18rem;
    color: hsl(0, 0%, 11%);
    line-height: 1.5;

    .title {
        font-size: .20rem;
        line-height: 3;
    }

    .content {
        line-height: 1.6;
        text-align: left;
    }
}
/* detail end */

/* question start */

.illy-img-list {
    padding: .09rem;
    text-align: left;

    label.item {
        width: 46%;
        display: inline-block;
        padding: .05rem;
        margin: .05rem .05rem;
        text-align: center;

        img {
            max-width: 100%;
            margin-bottom: .1rem;
            width: 100%;
            height: auto;
        }
        .yo-checked {
            /*float: left;*/
            margin-bottom: 5px;
        }
    }
}

/* rewrite thumb, remove it */
.yo-range > input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.0002rem;
  height: 0.2rem;
  position: relative;
  border: 0;
  border-radius: 50%;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 1px 1px 5px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}
.question {
    padding: .05rem;
    text-align: left;

    .yo-range {
        padding: 0;
        background-color: transparent;

        input {
            margin-right: .1rem;
        }

    }
    .yo-range > input[type="range"] {
        background-color: transparent;
    }

    .yo-range > input[type="range"]::-webkit-slider-thumba {
        width: .0001rem;
    }

    .question-text {
        padding: .05rem;
        font-weight: bold;
        font-size: .16rem;
    }

    .record-btn {
        display: inline-block;
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        width: 60%;
        height: .5rem;
        background: #eee;
        text-align: center;
        line-height: .5rem;
        color: #666;
        border-radius: 5px;
    }
    .record-btn.active {
        background-color: green;
        color: #fff;
        font-weight: bold;
    }

    .playRecord { // image of record to play
        top: 48%;
        background: url();
    }

    .answer-panel {
        display: none;
        position: fixed;
        left: 0;
        top: 100%;
        width: 100%;
        min-height: $answer_panel_height;
        margin-top: -$answer_panel_height;
        background-color: #f57bf9;

        .answer {
            word-break: break-all;
            padding: .1rem;
            line-height: 1.7;
            font-size: .14rem;
            text-align: left;

            .right, .save {
                font-weight: bold;
                font-size: .16rem;
                color: #666;
                display: inline-block;
                vertical-align: top;
            }

            /* 录音已保存 */
            .save {
                width: 65%;
            }

            p {
                display: inline-block;
                width: 60%;
                margin-top: 3px;
            }
        }
    }

    .tap-btn {
        width: $next_radius;
        height: $next_radius;
        border-radius: 50%;
        background-color: #5d92f4;
        position: absolute;
        right: .1rem;
        bottom: $answer_panel_height - .5rem;
        text-align: center;

        .icon {
            display: inline-block;
            height: $next_radius;
            line-height: $next_radius;
            color: white;
            font-weight: bold;
            -webkit-transform: scale(3);
            transform: scale(3);
        }

        .icon-next {
            -webkit-transform: rotate(90deg) scale(3);
            transform: rotate(90deg) scale(3);
        }

    }

}
/* question end */

