/* vars start */
@import "../_var.scss";
/* vars end */

.detail {
    color: hsl(0, 0%, 11%);
    padding: 0 .16rem;
    text-align: left;
    margin-bottom: .3rem;

    .title {
        font-size: .22rem;
        padding: .12rem 0 .12rem 0; /* fix top-striped first in render bug, should not use margin, 20150813 */
        line-height: 1.3;
    }
     
    .count {
        font-size: .14rem;
        display: inline-block;
        vertical-align: top;
        color: $like-color;

        span {
            padding-right: .05rem;
        }
    }
    .gap-point {
        font-size: .04rem;
        position: relative;
        top: -.02rem;
        color: $like-color;
    }

    .cover-img {
        margin: .18rem 0;

        img {
            width: 100%; /* mark! 20150826 */
        }
    }

    .content {
        margin-top: .15rem;
        
        /* mark 20150826 */
        img {
            width: 100%;
        }
        h1 {
            font-size: .22rem;
        }
        h2 {
            font-size: .20rem;
        }
        h3 {
            font-size: .18rem;
        }
        h4 {
            font-size: .16rem;
        }

        h1, h2, h3, h4, h5, h6 {
            margin: .1rem 0;
        }
        dd, dl, dt {
            margin: 0;
        }
    }

    .content p {
        font-size: .16rem;
        text-indent: 2em;
        line-height: 1.7;
        margin-bottom: .16rem;
        position: relative;
        word-break: break-all;
        color: $content-color;
    }

    .task-helper-btn {
        width: 60%;
        height: 44px;
        line-height: 44px;
        margin: 0 auto;
        font-size: 16px;
        color: #fff;
        background-color: $main-green;
        text-align: center;
        border-radius: 3px;
    }

    .shareMask {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(6, 6, 6, 0.9);
        padding: .3rem;
        padding-top: .2rem;

        img {
            margin: 0 auto;
        }
        img.wxShareIcon {
            width: 100px;
            margin-top: 30px;
            margin-bottom: 50px;
        }
        img.shareMaskBottom {
            margin-top: 80px;
        }

        .iKnow {
            width: 100%;
            height: 40px;
            color: #fff;
            font-size: 14px;
            text-align: center;
            margin-top: 50px;
        }
    }

    .pageinfo {
        text-align: center;

        .like {
            width: .48rem;
            height: .48rem;
            color: $dark-grey;
            margin: .05rem auto;
            background-size: 75%;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url(#{$img-dir}/iconfont-like.png);
        }

        .hasLiked {
            color: $main-blue;
            background-image: url(#{$img-dir}/iconfont-hasLiked.png);
        }
        .like-num-wrapper {
            margin: .1rem auto;
        }
        .like-num-update {
            /*color: $main-green;*/
        }

        .isShared {
            color: $main-blue;
        }
        .share, .visit {
            display: inline-block;
            width: 45%;
            height: .3rem;
            line-height: .3rem;
            background-color: #fff;
            font-size: .16rem;

            .icon {
                width: .20rem;
                height: .20rem;
                display: inline-block;
            }
            .icon-share {
                background-image: url(#{$img-dir}/iconfont-share.png);
            }

            .icon-visit {
                background-image: url(#{$img-dir}/iconfont-yuedu.png);
            }
        }

    }

}

/* activity start */

.infoCollect-wrapper {
    text-align: center;
}
.activity-info-form {
    text-align: center;
    background-color: #fff;
    padding: .1rem;
    border-radius: 3px;

    &-title {
        text-align: center;
        margin: .1rem;
    }

    .yo-btn {
        margin-top: .1rem;
        margin-bottom: .1rem;
    }
}
.btn-scoreAward {
    border: none; /* overwrite */
    display: block;
    width: 92%;
    height: .3rem;
    line-height: .30rem;
    margin: 0 auto;
    margin-top: .1rem;
    background-color: #F25454;
    color: #fff;
}
/* activity end */
