/*******************************************************
    > File Name: me.scss
    > Author: IndexXuan
    > Mail: indexxuan@gmail.com
    > Created Time: 2015年08月19日 星期三 10时13分24秒
 ******************************************************/

$me-main-color: #fff;
$me-avatar-height: 90px;
$me-column-item-height: .8rem;
$me-column-wrapper-bgColor: #f6f6f6;
$me-gap-line-color: #dedede;
$me-column-wrapper-color: #5c5454;

$me-profile-color: #615a5a;

.me {
    text-align: left;
}

.profile-wrapper {
    /*background-color: $me-main-color;*/
    position: relative;
    background-color:  rbga(79, 74, 74, .1);   
    color: $me-profile-color;
    background-size: 100%;
    background-position: center;
    background-image: url(../../build/images/me-colorful-profile-bg.jpg);

    /*.blur-bg-img {*/
    /*    display: none;*/
    /*    background-image: url(../../build/images/me-colorful-profile-bg.jpg);*/
    /*    -webkit-filter: blur(10px); [> Chrome, Opera <]*/
    /*    -moz-filter: blur(10px);*/
    /*    -ms-filter: blur(10px);    */
    /*    filter: blur(10px);*/
    /*    background-size: 110%;*/
    /*    background-position: center;*/
    /*    width: 100%;*/
    /*    height: $me-avatar-height + 20px;*/
    /*    position: relative;*/
    /*    top: -7px;*/
    /*}*/

    .inner-wrapper {
        width: 100%;
        height: $me-avatar-height + 70px;
        /*position: absolute;*/
        /*top: 0;*/
        /*left: 0;*/
    }
    .avatar-wrapper {
        /*width: 40%;*/
        width: 100%;
        padding: .15rem .20rem;
        text-align: center;

        img {
            display: inline-block;
            width: $me-avatar-height; 
            max-height: $me-avatar-height;
            height: auto;
            border-radius: 50%;
            border: 2px solid #fff;
        }
    }

    /*.profile-info-wrapper {*/
    /*    position: relative;*/
    /*    width: 58%;*/
    /*    padding: .35rem 0;*/

    /*    ul {*/

    /*        li {*/

    /*        }*/
    /*    }*/

    /*}*/

    .update {
        position: absolute;
        right: .1rem;
        top: .2rem;

        .icon-update {
            width: .16rem;
            height: .16rem;
            background: url(#{$img-dir}/iconfont-updateProfile.png) no-repeat center;
            background-size: 100%;
            position: relative;
            top: -1px;
        }
    }
}

.column-wrapper {
    position: relative;
    text-align: center;
    background-color: $me-column-wrapper-bgColor;
    margin-bottom: .1rem;
    padding: .05rem;
    color: $me-column-wrapper-color;

    .column-item {
        width: 22%;
        line-height: 1.8;
        text-align: center;
        vertical-align: middle;
    }

    .gap-line {
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        height: .4rem;
        background-color: $me-gap-line-color;
        /*position: relative;*/
        /*top: 3px;*/
    }

}

.editing-tips {
    padding: .08rem .01rem .1rem .01rem;
}
.update-profile-list {

    .item {
        padding: .15rem .3rem; /* rewrite to make height higher */
        font-size: .16rem;
    }

    .icon {
        position: relative;
        top: -.01rem;
        margin-right: .15rem;
        width: .2rem;
        height: .2rem;
    }

    .icon-name {
        background-image: url(#{$img-dir}/iconfont-name.png);
        background-size: 100%;
    }
    .icon-gender {
        background-image: url(#{$img-dir}/iconfont-gender.png);
        background-size: 100%;
    }
    .icon-parent {
        background-image: url(#{$img-dir}/iconfont-parent.png);
        background-size: 100%;
    }
    .icon-phone {
        background-image: url(#{$img-dir}/iconfont-phone.png);
        background-size: 100%;
    }
    .icon-school {
        background-image: url(#{$img-dir}/iconfont-school.png);
        background-size: 100%;
    }

    .editing-btn-wrapper {
        text-align: center;
        margin: .2rem;
    }

}

