/*******************************************************
    > File Name: me.scss
    > Author: IndexXuan
    > Mail: indexxuan@gmail.com
    > Created Time: 2015年08月19日 星期三 10时13分24秒
 ******************************************************/

$img-dir: "../../build/images/";

$me-main-color: #fff;
$me-avatar-height: 90px;
$me-column-item-height: .8rem;
$me-column-wrapper-bgColor: #f6f6f6;
$me-gap-line-color: #dedede;
$me-column-wrapper-color: #5c5454;

$me-profile-color: #FFF;

.me {
    text-align: left;
}

.profile-wrapper {
    position: relative;
    background-color:  rbga(79, 74, 74, .1);   
    color: $me-profile-color;
    background-size: 100%;
    background-position: center;
    background-image: url(#{$img-dir}/me-colorful-profile-bg.jpg);

    .inner-wrapper {
        width: 100%;
        height: $me-avatar-height + 70px;
    }

    .update {
        position: absolute;
        right: .1rem;
        top: .2rem;

        .icon-update {
            width: .16rem;
            height: .16rem;
            background: url(#{$img-dir}/iconfont-updateProfile.png) no-repeat center;
            background-size: 100%;
            position: relative;
            top: -1px;
        }
    }
}

    .avatar-wrapper {
        width: 100%;
        padding: .15rem .20rem;
        text-align: center;

        img {
            display: inline-block;
            width: $me-avatar-height; 
            max-height: $me-avatar-height;
            height: auto;
            border-radius: 50%;
            border: 2px solid #fff;
        }
    }

.column-wrapper {
    position: relative;
    text-align: center;
    background-color: $me-column-wrapper-bgColor;
    margin-bottom: .1rem;
    padding: .05rem;
    color: $me-column-wrapper-color;

    .column-item {
        width: 22%;
        line-height: 1.8;
        text-align: center;
        vertical-align: middle;
    }

    .gap-line {
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        height: .4rem;
        background-color: $me-gap-line-color;
        /*position: relative;*/
        /*top: 3px;*/
    }

}

.editing-tips {
    padding: .08rem .01rem .1rem .01rem;
    text-align: center;
}
.update-profile-list {

    .avatar-wrapper {
        position: relative;
        text-align: left;
        border-bottom: 1px solid #ddd; /* mark! */
        background-color: #fff;
    }
    .update-avatar-tip {
        position: absolute;
        left: 120px;
        bottom: 48px;
    }

    .item {
        padding: .15rem .3rem; /* rewrite to make height higher */
        font-size: .16rem;
        color: #575151;
    
        .fr { /* too long name or other info */
            max-width: 150px;
            overflow: hidden;
            height: 24px;
        }
    }

    .info-gap {
        height: .3rem;
    }

    .icon {
        position: relative;
        top: -.01rem;
        margin-right: .15rem;
        width: .2rem;
        height: .2rem;
        background-size: 100%;
    }

    .icon-name {
        background-image: url(#{$img-dir}/iconfont-name.png);
    }
    .icon-gender {
        background-image: url(#{$img-dir}/iconfont-gender.png);
    }
    .icon-parent {
        background-image: url(#{$img-dir}/iconfont-parent.png);
    }
    .icon-phone {
        background-image: url(#{$img-dir}/iconfont-phone.png);
    }
    .icon-school {
        background-image: url(#{$img-dir}/iconfont-school.png);
    }
    .icon-grade {
        background-image: url(#{$img-dir}/iconfont-grade.png);
    }

    .editing-btn-wrapper {
        text-align: center;
        margin: .2rem;
    }

}

