$taskList-left-width: 25%;
$task-progress-height: .1rem;
$task-progress-bgcolor: #fff;
$task-progress-inner-bgColor: #EF7549;
$task-progress-radius: 10px;

$taskList-img-height: 67px;

.top-area-common {
    width: 30%;
    height: 100px;
    background-size: 64%;
    background-repeat: no-repeat;
}
.top-left-area {

    .inner {
        width: 67px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url("../../build/images/taskList-top-icon.png");
        height: $taskList-img-height;
    }
}

.top-score-area {
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("../../build/images/rank-nb.png");
    width: 33%;
    max-width: 107px; /* must fixed value */
    height: 100px;
    position: relative;
    
    .top-score-text {
        color: #fff;
        position: absolute;
        top: 8px;
        left: 37px;
        width: 60px;
        text-align: center;
    }
}

.top-me-area {

    .inner {
        width: 67px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: right top;
        height: $taskList-img-height;
        float: right;
        border-radius: 50%;
        border: 4px solid #fff;
    }
}

.task-list {
    width: 100%;
    min-height: 600px;
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("../../build/images/taskList-bg.png");
    color: $dark-grey;
    padding-top: 15px;

    .item-wrapper {
        background: rgba(0, 69, 99, .5);
        width: 92%;
        margin: 0 auto;
        margin-top: 70px; /* overwrite */
        padding: .12rem .06rem;
        position: relative;

        .silk-common {
            width: 100%;
            height: $silk-height;
            background-image: url(#{$img-dir}/silk-green.png);
            background-size: 100%;
            background-repeat: no-repeat;
            position: absolute;
            top: -60px;
        }
    }

    .list-card {
        width: 100%;
        margin-bottom: .10rem;
        text-align: left;
        position: relative;
        display: inline-block;
        overflow: hidden;
        padding: .08rem;
        border-radius: 10px;
        background-color: #ffefb5;

        .left-icon {
            width: $taskList-left-width;
            max-width: 67px;
            height: 67px;
            border-radius: 15px;
            background-image: url("../../build/images/taskList-item-icon.png");
            border: 2px solid #bdd3ad;
            background-size: 100%;
            position: relative;

            .scoreAward {
                position: absolute;
                left: 50%;
                bottom: 2px;
                margin-left: -30px;
                text-align: center;
                width: 60px;
                font-size: .12rem;
                color: #DFD5D5;
            }
        }

        .right-area {
            width: 97% - $taskList-left-width;

            .title {
                width: 100%;
                font-size: .14rem;
                padding-left: 5px;
            }

            .right-bottom-area {
                width: 100%;
                height: 50px;

                .progress-area {
                    width: 62%;
                    height: 41px;

                    .progress-text {
                        font-size: .14rem;
                        color: orange;
                        padding-left: .05rem;
                        padding-top: .05rem;
                        letter-spacing: 1px;
                    }

                    .progress-wrapper {
                        height: .3rem;
                        line-height: .3rem;
                        padding-left: .05rem;
                        padding-right: .05rem;

                        .progress-outer {
                            height: $task-progress-height;
                            background-color: $task-progress-bgcolor;
                            width: 99%;
                            display: inline-block;
                            vertical-align: top; // key!
                            margin-top: (0.2 - $task-progress-height) / 2; // for vertical center
                            border-radius: $task-progress-radius;

                            .progress-inner {
                                height: $task-progress-height;
                                background-color: $task-progress-inner-bgColor;
                                border-radius: $task-progress-radius;
                            }
                        }

                    } // end of progress-wrapper
                }

                .go {
                    width: 35%;
                    height: 41px;
                    background-image: url("../../build/images/taskList-btn.png");
                    background-size: 99%;
                    background-position: right bottom;
                    background-repeat: no-repeat;
                }
            }
        }
    }


}

