/*******************************************************
    > File Name: mall.scss
    > Author: IndexXuan
    > Mail: indexxuan@gmail.com
    > Created Time: 2015年08月19日 星期三 10时06分56秒
 ******************************************************/

.mall-wrapper {
    text-align: center;
    margin: .05rem 0;

    .mall-item {
        display: inline-block;
        width: 47%;
        margin: .05rem .02rem;
        background: #fff;
        padding: .03rem 0;
        text-align: left;

        .img-wrapper {
            width: 100%;
            position: relative;
        }

        img {
            display: inline-block;
            width: 100%;
        }

        .title {
            display: inline-block;
            width: 100%;
            padding: .03rem .08rem .03rem;
            line-height: 1.3;
            font-size: .14rem;
        }

        .price {
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: .12rem;
            line-height: .16rem;
            padding: .03rem;
            background: red;
            color: #fff;
            opacity: .7;
        }

        .icon {
            width: .18rem;
            height: .18rem;
            position: relative;
            top: -.01rem;
        }
        .exchangeTimes {
            display: inline-block;
            width: 47%;
            text-align: left;
            padding-left: .1rem;

            .icon-exchangeTimes {
                background-image: url(#{$img-dir}/iconfont-exchangeTimes.png);
            }
        }

        .stock {
            display: inline-block;
            width: 47%;
            text-align: right;
            padding-right: .1rem;

            .icon-stock {
                background-image: url(#{$img-dir}/iconfont-stock.png);
            }
        }

    }

}
