/*******************************************************
> File Name: task.scss 
> Author: IndexXuan
> Mail: indexxuan@gmail.com
> Created Time: 2015年07月30日 星期四16时41分34秒
 ******************************************************/

/* vars start */

/* vars end */

@import "../_normalize.scss";
@import "../_common.scss";

.task {
    min-height: 5.5rem; 
    padding: .05rem;

    &, &-footer {
        font-size: .14rem;
    }
} 

a, a:hover {
    text-decoration: none;
    color: $g_font_color;
    cursor: pointer;
}

/* taskList start */
@import "./taskList.scss";
/* taskList end */

/* detail-import start */
@import "../microsite/_article.scss";
/* detail-import end */

/* mall start */
@import "./mall.scss";
/* mall end */

/* rank start */
@import "./rank.scss";
/* rank end */

/* me start */
@import "./me.scss";
/* me end */

