<div ms-controller="detail" class="detail">

    <div class="top-striped"></div>

    <h2 class="title">{{title}}</h2>

    <div class="count visit-count"><span>阅读</span>{{visitCount}}</div> 
    <i class="yo-ico gap-point">&#xf083</i>
    <div class="count share-count"><span>分享</span>{{shareCount}}</div> 
    <i class="yo-ico gap-point">&#xf083</i>
    <div class="count like-count"><span>喜欢</span>{{likeCount}}</div> 

    <div class="count time fr">{{created | date()}}</div>

    <div class="cover-img">
        <img ms-attr-src="'http://resource.hizuoye.com/' + image + '?imageView2/1/w/400/h/200'">
    </div>

    <div class="content">{{content | html}}</div>

    <ul class="pageinfo list">

        <div class="like" ms-if="hasLiked == false" ms-click="like()"></div>
        <div class="like" ms-class-1="hasLiked: hasLiked == true" ms-if="hasLiked == true"></div>
        <div class="like-num-wrapper"><span class="like-num" ms-class-1="like-num-update: hasLiked == true">{{likeCount}}</span>位朋友点了赞</div>

        <li class="share" ms-if="isShared != true"><i class="icon icon-share"></i>{{shareCount}}</li>
        <li class="share" ms-class-1="isShared: isShared == true" ms-if="isShared == true"><i class="icon icon-share"></i>{{shareCount}} (+1)</li>
        <li class="visit"><i class="icon icon-visit"></i>{{visitCount}}</li>

    </ul>

    <div id="jumphelper" class="gotop">
        <a href="javascript:void(0)" id="gotop"></a>
    </div>
    
</div>

