<!-- list start -->
<div class="list" ms-controller="list">
    <!-- item start -->
    <div class="item-wrapper">
        <div class="item area" ms-repeat-item="lists">
            <img class="item-img area" ms-attr-src="item.image" ms-attr-alt="item.title">
            <div class="right-area">
                <a ms-attr-href="'#!/detail/' + item._id" class="item-title area">{{item.title}}</a>
                <div class="count share-count"><i class="icon icon-share"></i>{{item.shareCount}}</div> 
                <div class="count visit-count"><i class="icon icon-people"></i>{{item.visitCount}}</div> 
            </div>
        </div>
    </div>
    <!-- item end -->
    <div ms-if="lists == ''">本栏目暂时没有收录文章，请稍后再来关注哦！</div>
    <a href="javascript:void(0)" class="show-more-btn" ms-visible="btnShowMore" ms-click="showMore()">加载更多</a>
</div>
<!-- list end -->

