<!-- list start -->
<div class="list" ms-controller="list">
    <!-- item start -->
    <div class="item-wrapper">
        <div class="item area" ms-repeat-item="lists">
            <img class="item-img area" ms-attr-src="item.image" ms-attr-alt="item.title">
            <a ms-attr-href="'#!/detail/' + item._id" onClick="location.href = this.href" class="item-title area">{{item.title}}</a>
        </div>
    </div>
    <!-- item end -->
    <a href="javascript:void(0)" class="show-more-btn" ms-visible="btnShowMore" ms-click="showMore()">加载更多</a>
</div>
<!-- list end -->

