<div ms-controller="site" class="site">

    <div class="left-fixed" ms-visible="currentPage !== 'detail'">
        <div class="left navigator-home"><a href="#!/">首页</a></div>
        <div id="nav" class="ui-navigator"> 
            <ul class="ui-navigator-list" style="-webkit-tap-highlight-color: rgba(255, 255, 255, 0);">
                <li ms-class="ui-state-active: item._id === categoryId"  ms-repeat-item="categoriesNames">
                    <a ms-attr-href="'#!/' + item._id">{{item.name}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div ms-view=""></div>
    
    <!--<div id="jumphelper" class="gotop">-->
        <!--<a href="javascript:void(0)" id="gotop"></a>-->
    <!--</div>-->
    
</div>

