/* common vars start */

$font-face-src: 'http://source.qunarzz.com/fonts/yo/1.0.0';

$illy-container-width: 5rem;

$loader-bgColor: #fff;
$img-dir: '../../../assets/images';

$g_bgColor: #f1f1f1;
$main-color: #64c400;

$light-grey: #999999;
$dark-grey: #333438;

$main-green: #64c400;
$main-red: #e50b23;
$main-blue: #00abfd;

$zIndex1: 1;
$zIndex2: 9;
$zIndex3: 99;
$zIndex4: 520;
$zIndex5: 999;
$zIndex6: 8888;
$zIndex7: 99999;

/* global silk height */
$silk-height: .6rem;
$silk-max-width: 294px; /* fixed value for all device */

$max-content-width: 450px; // for big screen like ipad
/* common vars end */

/* layout vars start */
$g_font_color: $dark-grey;

$ms-slider-height: 1.8rem;

$navigator-home-width: .5rem;
$categories-bgColor: white;
$category-title-color: #333438;
$item-title-color: #333438;
$created-time-color: $light-grey;
$like-color: $light-grey;

$title-line-height: .36rem;
$ms-img-height: .80rem;
$item_title_height: .45rem;


$wx-bar-bgColor: #323436;
$ms-navigator-height: .34rem;
$navigator-color: $wx-bar-bgColor;
$navigator-current-bgColor: $wx-bar-bgColor;
$navigator-current-text-color: #fff;
$navigator-text-color: $light-grey;

$content-color: #444242;
/* layout vars end */

/* homework vars start */
$homework-list-icon-img-width: 17%;
$hw_img_height: .45rem;
$hw-info-height: .7rem;
$answer_panel_height: 1.1rem;
$item_title_height: .45rem;
$next_radius: $answer_panel_height / 2 + .1rem;

$progress-bgcolor: $main-blue;
$progress-color: $main-green;
$progress-height: .03rem;

$evaluation-right-width: 62%;
$evaluation-left-width: 27%;
$timeline-line-size: 2px;
$timeline-h-line-size: 4px;
$timeline-blue: #43d1d5;
$timeline-white: #fff;
/* homework vars end */

/* task me start */
$me-main-color: #fff;
$me-avatar-height: 90px;
$me-column-item-height: .8rem;
$me-column-wrapper-bgColor: #f6f6f6;
$me-gap-line-color: #dedede;
$me-column-wrapper-color: #5c5454;
$me-profile-color: #FFF;
/* task me end */

