<div class="info" ms-controller="info">

    <div class="panel">

        <ul class="yo-list yo-list-group">
            <li class="item" ms-if="title != ''">
                <span class="mark">作业名称:</span>
                <div class="flex">{{title}}</div>
            </li>
            <li class="item" ms-if="keyPoint != ''">
                <span class="mark">知识重点:</span>
                <div class="flex">{{keyPoint}}</div>
            </li>
            <li class="item" ms-if="keyPointRecord != undefined">
                <span class="mark">重点录音:</span>
                <div class="flex">

                    <audio class="hide keyPointAudio" ms-attr-src="http://oss.hizuoye.com/{{keyPointRecord}}">
                        您的浏览器不支持播放!
                    </audio>     
                    
                    <!-- 录音完毕或者后退到本题时显示 -->
                    <div id="playRecord" class="playRecord record-btn" ms-class-1="playing: isPlaying==true" ms-on-tap="toggleRecord()"><span class="record-total-time">5</span>&quot<span ms-visible="!isPlaying">点击试听</span><span ms-visible="isPlaying">点击停止</span></div>

                </div>
            </li>
        </ul>

        <a class="go-question yo-btn yo-btn-l" ms-click="goNext()">去做题</a>

    </div>

</div>

