/*******************************************************
> File Name: homework.scss 
> Author: IndexXuan
> Mail: indexxuan@gmail.com
> Created Time: 2015年07月13日 星期一 18时01分34秒
 ******************************************************/

@import "../_normalize.scss";
@import "../_common.scss";

/* yo-font-face start */

@font-face {
    font-family: yofont;
    src: url(#{$font-face-src}/yofont.woff) format("woff"),
    url(#{$font-face-src}/yofont.ttf) format("truetype");
}

.yo-ico {
    font-family: yofont !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}


/* yo-font-face end */


/* yo-header start */

.yo-header {
    position: relative;
    height: 0.44rem;
    line-height: 0.44rem;
    border-bottom: 1px solid #1ba9ba;
    background-color: #1ba9ba;
    color: #fff;
    font-size: 0.18rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.yo-header > .title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 0.6rem;
}

.yo-header > .regret,
.yo-header > .affirm {
    position: absolute;
    top: 0;
    width: 0.6rem;
    cursor: pointer;
    font-size: 0.14rem;
}

.yo-header > .regret:active,
.yo-header > .affirm:active {
    opacity: .5;
}

.yo-header > .regret.yo-ico,
.yo-header > .regret > .yo-ico,
.yo-header > .affirm.yo-ico,
.yo-header > .affirm > .yo-ico {
    color: #fff;
    /* overwrite */
    font-size: 0.2rem;
}

.yo-header > .regret {
    left: 0;
    padding-left: 0.15rem;
    text-align: left;
}

.yo-header > .affirm {
    right: 0;
    padding-right: 0.15rem;
    text-align: right;
}

.yo-header-normal {
    border-color: #ddd;
    background-color: #eee;
    color: #212121;
}

.yo-header-normal > .regret.yo-ico,
.yo-header-normal > .regret > .yo-ico,
.yo-header-normal > .affirm.yo-ico,
.yo-header-normal > .affirm > .yo-ico {
    color: #212121;
}


/* yo-header end */


/* yo-checked start */

.yo-checked {
    display: inline-block;
    position: relative;
    width: 0.2rem;
    height: 0.2rem;
    font-size: 0.12rem;
    font-family: yofont;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.yo-checked > input,
.yo-checked > .type {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.yo-checked > input {
    z-index: 2;
    opacity: 0;
}

.yo-checked > .type {
    border-radius: 0.05rem;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    background-color: transparent;
    line-height: 0.2rem;
}

.yo-checked > .type::after {
    content: "";
    color: transparent;
}

.yo-checked > input:checked + .type::after {
    color: #2b94ff;
}

.yo-checked > input:disabled + .type {
    opacity: .4;
    background-color: #e0e0e0 !important;
}

.yo-checked > input:disabled + .type::after {
    color: #bbb !important;
}

.yo-checked-a > .type {
    border-width: 0.01rem;
    border-color: #ccc;
    border-style: solid;
    line-height: 0.18rem;
}

.yo-checked-a > input:checked + .type {
    border-color: #2b94ff;
}

.yo-checked-b > .type {
    border-width: 0.01rem;
    border-color: #ccc;
    border-style: solid;
    line-height: 0.18rem;
}

.yo-checked-b > input:checked + .type {
    border-color: #2b94ff;
    background-color: #2b94ff;
}

.yo-checked-b > input:checked + .type::after {
    color: white;
}

.yo-checked-c > .type {
    border-radius: 50%;
    border-width: 0.01rem;
    border-color: #ccc;
    border-style: solid;
    line-height: 0.18rem;
}

.yo-checked-c > input:checked + .type {
    border-color: #2b94ff;
    background-color: #2b94ff;
}

.yo-checked-c > input:checked + .type::after {
    color: white;
}

.yo-checked-d > .type::after {
    content: "";
}

.yo-checked-e > .type {
    border-width: 0.01rem;
    border-color: #ccc;
    border-style: solid;
    line-height: 0.18rem;
}

.yo-checked-e > .type::after {
    content: "";
}

.yo-checked-e > input:checked + .type {
    border-color: #2b94ff;
}

.yo-checked-f > .type {
    border-width: 0.01rem;
    border-color: #ccc;
    border-style: solid;
    line-height: 0.18rem;
}

.yo-checked-f > .type::after {
    content: "";
}

.yo-checked-f > input:checked + .type {
    border-color: #2b94ff;
    background-color: #2b94ff;
}

.yo-checked-f > input:checked + .type::after {
    color: white;
}

.yo-checked-g > .type {
    border-radius: 50%;
    border-width: 0.01rem;
    border-color: #ccc;
    border-style: solid;
    line-height: 0.18rem;
}

.yo-checked-g > .type::after {
    content: "";
}

.yo-checked-g > input:checked + .type {
    border-color: #2b94ff;
    background-color: #2b94ff;
}

.yo-checked-g > input:checked + .type::after {
    color: white;
}


/* yo-checked end */

.yo-header {
    background-color: $main-green;
}


/* global start */

.app {
    min-height: 5.5rem;
}

/* global end */


/* list-item start */

.homework-list,
.mistakeList {
    text-align: left;
}

.mistakeList {

    .show-more-btn {
        position: relative;
        top: -.05rem;
    }

}

.item-wrapper {
    display: inline-block;
    padding: .05rem;
    margin-top: .05rem;
    width: 100%;

    @media only screen
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : landscape) { 
        .item {
            width: 48.0%!important;
            margin: 0 .07rem;
        }
    }

    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : portrait) { 

    }
    .item {
        width: 100%;
        background-color: #fff;
        text-align: left;
        padding: .10rem .08rem;
        margin-bottom: .1rem;
        border-left: 3px solid $main-green;
        border-radius: 3px;
        border: 1px solid #ccc;

        .list-card {
            display: inline-block;
            position: relative;
            width: 100%;
            .item-img {
                width: $homework-list-icon-img-width;
                max-width: .52rem;
                margin-left: .02rem;
                margin-right: .10rem;
                height: $hw_img_height;
                border: 1px solid #eee;
                vertical-align: middle;
                border: 0;
                -ms-interpolation-mode: bicubic;
            }
            // 右侧作业信息
            .hw-info {
                width: 72%;
                height: $hw-info-height;
                line-height: .22rem;
                font-size: .12rem;
                margin-top: -.02rem;
                .item-title {
                    width: 92%;
                    margin-top: .01rem;
                    max-height: $item_title_height;
                    word-break: break-all;
                    color: #373434;
                    font-size: .16rem;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .time {
                    display: inline-block;
                    vertical-align: top;
                    width: 92%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    position: relative;
                    top: .03rem; // fix
                }
                .finish_count {
                    display: inline-block;
                    vertical-align: top;
                    width: 49%;
                    position: relative;
                    top: .05rem;
                    max-height: .24rem;
                    overflow: hidden;

                    .icon {
                        width: .16rem;
                        height: .16rem;
                        display: inline-block;
                        vertical-align: middle;
                        background-size: 100%;
                        background-repeat: no-repeat;
                        margin-right: .06rem;
                        margin-top: -0.04rem;
                    }
                    .icon-people {
                        background-image: url(#{$img-dir}/task-people.png);
                    }
                    .icon-score {
                        background-image: url(#{$img-dir}/result-score.png);
                    }
                }
            }
            .todo {
                position: absolute;
                right: .01rem;
                font-size: .22rem;
                height: $hw-info-height;
                line-height: $hw-info-height;
                color: #A99D9D;
            }
        }
    }
}


/* list-item end */


/* info start */

.info {
    text-align: center;
    max-width: $max-content-width;
    margin: 0 auto;

    audio {
        width: 2rem;
        font-size: 16px;
    }
    .keyPointRecord-area {
        width: 100%;
        background-color: #fff;
        padding: .1rem;
    }
}

.panel {
    text-align: left;
    display: inline-block;
    width: 96%;
    margin-top: .15rem;
    padding-bottom: .3rem;
    overflow: hidden;
    .yo-list {
        padding-left: .05rem;
        /* rewrite for info panel */
        padding-right: .05rem;
    }
    .item {
        align-items: baseline;
    }
    .mark {
        width: 23%;
    }
    .flex {
        width: 75%;
    }
    .playRecord {
        // image of record to play
        top: 54%;
        font-size: .14rem;
        color: $light-grey;
        height: .6rem;
        line-height: .59rem;
        background-image: url(#{$img-dir}/playing.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        .record-total-time {
            /* 录音时长 */
            position: relative;
            left: -.01rem;
        }
    }
    .playRecord.playing {
        background-image: url(#{$img-dir}/playing.gif);
    }
    .go-question {
        display: block;
        width: 98%;
        margin: 0 auto;
        background: $main-color;
        border-color: $main-color;
        margin-top: .2rem;
        border-radius: .05rem;
        font-size: .2rem;
    }
}


/* info end */


/* question start */

.yo-list {
    padding-left: .1rem;
    padding-right: .1rem;
}

.illy-img-list {
    text-align: left;
    position: relative;
    top: -.08rem;
    /* mark, not good */
    margin-right: -3.5%;

    @media only screen
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : landscape) { 
        label.item {
            width: 21.5%!important;
        }
    }

    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : portrait) { 

    }

    label.item {
        width: 46.5%;
        display: inline-block;
        padding: .05rem;
        margin-right: 3.5%;
        text-align: center;
        border-radius: 3px;
        // &.question-item-active {
        //     background-color: $main-blue;
        //     .yo-checked-c > input:checked + .type::after {
        //         color: $main-blue;
        //     }
        //     .yo-checked-c > input:checked + .type {
        //         background-color: #fff;
        //     }
        // }
        div.flex {
            width: 100%;
        }
        img {
            max-width: 100%;
            margin-bottom: .1rem;
            width: 100%;
            height: auto;
        }
        .yo-checked {
            /*float: left;*/
            margin-bottom: .05rem;
        }
    }
}


/* rewrite thumb, remove it */

.yo-range > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.0002rem;
    height: 0.2rem;
    position: relative;
    border: 0;
    border-radius: 50%;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 1px 1px 5px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}

.question {
    -webkit-user-select: none;
    user-select: none;
    text-align: left;
    background-color: whiteSmoke;
    .yo-list .item {
        /* make it bigger, max-height was not needed */
        min-height: .6rem;
        margin-bottom: .05rem;
        border-radius: .03rem;
        &.question-item-active {
            /* active state ui */
            background-color: $main-blue;
            color: #fff;
            //.yo-checked-c > input:checked + .type::after {
            .yo-checked-c > input + .type::after {
                color: $main-blue;
            }
            // .yo-checked-c > input:checked + .type {
            .yo-checked-c > input + .type {
                background-color: #fff;
            }
        }
        .mark {
            /* for long text */
            word-break: break-all;
        }
    }
    .fill-in {
        /* fill-in Type question's border width */
        label {
            display: block;
            padding: .02rem;
            /* like border effect */
        }
        .fill-in-textarea {
            padding: .1rem;
            border-radius: .03rem;
        }
        .answered-text {
            padding-left: .1rem;
            padding-top: .16rem;
            padding-bottom: .16rem;
        }
    }
    .progress-wrapper {
        height: .3rem;
        line-height: .3rem;
        padding-left: .1rem;
        padding-right: .1rem;
        .progress-outer {
            height: $progress-height;
            background-color: $progress-bgcolor;
            width: 87%;
            display: inline-block;
            vertical-align: top; // key!
            margin-top: (0.3 - $progress-height) / 2; // for vertical center
            overflow: hidden;
            .progress-inner {
                height: $progress-height;
                background-color: $progress-color;
            }
        }
        .progress-text {
            float: right;
        }
    }
    /* 去除分割线，恶心的第二条线不显示bug */
    .yo-list > .item {
        background-image: none;
    }
    .yo-list > .item:last-child {
        background-image: none;
    }
    .question-text {
        padding: .02rem .01rem;
        font-weight: bold;
        font-size: .18rem;
        margin-left: .1rem;
        position: relative;
        word-break: break-all; /* for English */
        top: -.08rem;
        /* mark, not good */
    }
    .fill-in {
        .yo-input {
            width: 100%;
            /* overwrite to normal */
            min-height: 1.5rem;
        }
    }
    .wrong-fill-in {
        /* 错误的文字填空题 */
        color: $main-red;
    }
    .yo-list {
        .item.wrong-answer {
            /* 错误的选择题 */
            border: 2px solid $main-red;
            border-radius: .05rem;

             /* active state ui */
            background-color: #fff;
            color: $main-blue;
            //.yo-checked-c > input:checked + .type::after {
            .yo-checked-c > input + .type::after {
                color: $main-blue;
            }
            // .yo-checked-c > input:checked + .type {
            .yo-checked-c > input + .type {
                background-color: #fff;
            }
        }
    }
    .mask {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        /*background: #322F2F;*/
        background: transparent;
        opacity: .7;
    }
    .isRecording {
        display: none;
        position: fixed;
        top: 42%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        width: .9rem;
        height: .9rem;
        background-image: url(#{$img-dir}/recording.gif);
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: .10rem;
    }
    .isRecording.timeout {
        opacity: .2;
    }
    .timeout-mask {
        /*display: inline-block;*/
        display: none;
        position: absolute;
        top: 42%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        width: .9rem;
        height: .9rem;
        line-height: .9rem;
        font-size: .6rem;
        text-align: center;
        color: #444040;
    }
    .record-btn {
        display: inline-block;
        position: fixed;
        top: 63%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        width: 1.6rem;
        height: .41rem;
        line-height: .39rem;
        background-color: #fff;
        text-align: center;
        font-size: .14rem;
        color: $main-green;
        border-radius: .05rem;
        border: 1px solid $main-green;
    }
    .record-btn.active {
        background-color: $main-green;
        color: #fff;
        font-weight: bold;
    }
    .playRecord {
        // image of record to play
        top: 54%;
        font-size: .14rem;
        color: #7c7474;
        background-image: url(#{$img-dir}/playing.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: .06rem -.08rem;
        padding-right: .25rem;
        line-height: .4rem;
        background-color: transparent;
        border: none;
        .record-total-time {
            /* 录音时长 */
            position: relative;
            left: -.34rem;
        }
        .second-symbol {
            position: relative;
            left: -.34rem;
        }
    }
    .playRecord.playing {
        /* playing-state, gif */
        background-image: url(#{$img-dir}/playing.gif);
    }
    /* record too short tips */
    .record-tips {
        display: none;
        /* inline-block */
        position: fixed;
        top: 54%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        width: 1.6rem;
        height: .41rem;
        line-height: .37rem;
        background: #eee;
        text-align: center;
        font-size: .12rem;
        color: #666;
        border-radius: .05rem;
        border: 2px solid $main-red;
    }
    .answer-panel {
        display: none;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        min-height: $answer_panel_height;
        background-color: $main-color;
        &.wrong {
            background-color: $main-red;
        }
        .answer {
            word-break: break-all;
            padding: .1rem;
            line-height: 1.7;
            font-size: .14rem;
            text-align: left;
            .right,
            .save {
                font-weight: bold;
                font-size: .18rem;
                color: #f2eded;
                display: inline-block;
                vertical-align: top;
            }
            /* 录音已保存 */
            .save {
                width: 72%;
            }
            p.analysis-text {
                width: 76%;
                margin-top: .03rem;
                color: #f2eded;
                text-align: justify;
                line-height: 1.3;
            }
        }
    }
    .tap-btn {
        width: $next_radius;
        height: $next_radius;
        border-radius: 50%;
        background-color: $main-blue;
        position: absolute;
        right: .1rem;
        bottom: $answer_panel_height - .35rem;
        text-align: center;
        .icon {
            display: inline-block;
            width: $next_radius;
            height: $next_radius;
            line-height: $next_radius;
            color: white;
            font-weight: bold;
            font-size: .42rem;
        }
        .icon-next {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }
    .bottom-checkAnswer-btn {
        width: 94%;
        height: .44rem;
        line-height: .44rem;
        text-align: center;
        position: fixed;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: .1rem;
        background-color: $main-green;
        font-size: 16px;
        color: #fff;
    }
}


/* question end */


/* result start */

.result {
    margin-top: 0;
    padding-top: .5rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url(#{$img-dir}/result-bg.png);
    min-height: 6rem;
    .result-silk-bg {
        width: 100%;
        height: $silk-height;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center top;
        background-image: url(#{$img-dir}/silk-yellow-green.png);
        line-height: .38rem;
        color: #fff;
        font-size: .18rem;
        position: relative;
        top: .2rem;
    }
    .yo-list {
        padding-top: .2rem;
        background-color: #fff;
    }
    .item {
        padding: .15rem 0 .15rem .44rem;
        font-size: .16rem;
        display: block;
        /* rewrite display: flex */
    }
    .icon {
        width: .24rem;
        height: .24rem;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center top;
    }
    .icon-right {
        background-image: url(#{$img-dir}/result-right.png);
    }
    .icon-wrong {
        background-image: url(#{$img-dir}/result-wrong.png);
    }
    .icon-score {
        background-image: url(#{$img-dir}/result-score.png);
    }
    .icon-totalScore {
        background-image: url(#{$img-dir}/result-totalScore.png);
    }
    .area {
        width: 40%;
    }
    .yo-btn {
        margin-top: .15rem;
    }
    .go-shop {
        color: #fff;
        border: none;
    }
    .go-index {}
}


/* result end */


/* evaluation start */

.evaluation {

    .profile-wrapper {
        position: relative;
        /*background-color:  rgba(79, 74, 74, .1);   */
        color: $me-profile-color;
        background-size: 100%;
        background-position: center top;
        background-repeat: no-repeat;
        /* background-image: url(../../build/images/evaluation-bg.png); */
        background-color: $timeline-blue;
        .inner-wrapper {
            width: 100%;
            height: 1.45rem;
        }
        .name {
            text-align: center;
            margin-top: -.1rem;
        }
    }
    .avatar-wrapper {
        width: 100%;
        padding: .15rem .20rem;
        text-align: center;
        img {
            display: inline-block;
            width: $me-avatar-height;
            max-height: $me-avatar-height;
            height: auto;
            border-radius: 50%;
            border: 2px solid $timeline-white;
        }
    }
    .navigator-bar {
        font-size: 16px;
        margin-right: -.01rem;
        overflow: hidden;

        .go-homework,
        .go-mistake {
            width: 50%;
            float: left;
            height: .32rem;
            color: #5c5454;
            line-height: .24rem;
            text-align: center;
            border-right: 1px solid #dedede;
            margin-top: .1rem;
        }
        
        .icon {
            position: relative;
            top: -.01rem;
        }
        .icon-homework {
            background-image: url(#{$img-dir}/evaluation-homework.png);
        }
        .icon-mistake {
            background-image: url(#{$img-dir}/evaluation-mistake.png);
            top: -.03rem; 
        }
    }
    .h-line {
        width: 100%;
        height: $timeline-h-line-size;
        background-color: $timeline-blue;
        position: relative;
        margin-bottom: .2rem;
    }
    .h-line:before {
        position: absolute;
        content: "\00a0";
        width: 0px;
        height: 0px;
        border-width: .18rem .18rem 0 .18rem;
        border-style: solid;
        border-color: $timeline-blue transparent transparent transparent;
        top: $timeline-h-line-size;
        left: 50%;
        margin-left: -.18rem;
    }
    .h-line:after {
        position: absolute;
        content: "\00a0";
        width: 0px;
        height: 0px;
        border-width: .18rem .18rem 0 .18rem;
        border-style: solid;
        border-color: $g_bgColor transparent transparent transparent;
        top: -.02rem;
        left: 50%;
        margin-left: -.18rem;
    }
    .timeline-wrapper {
        padding-top: 0;
        
        .show-more-btn {
            position: relative;
            top: -.025rem;
        }

        .no-evaluation-text {
            width: 80%;
            border: $timeline-line-size solid $timeline-blue;
            position: relative;
            top: .3rem;
            padding: .2rem .05rem;
            border-radius: .05rem;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .h-inner-line {
        width: 22.1%; /* for big screen device, not too long */
        height: $timeline-line-size;
        background-color: $timeline-blue;
        position: relative;
        top: -.04rem;
        left: 28%;
    }
    .timeline-inner {
        position: relative;
        top: -.05rem;

        .timeline-item.dark {
            background-color: $timeline-blue!important;
            color: $timeline-white!important;
            
            .time {
                color: $timeline-white!important;
            }
            .line {
                background-color: $timeline-white!important;
            }
            .homework-title {
                color: $timeline-white!important;
            }
            .evaluation-text {
                background-color: $timeline-white!important;
                color: $timeline-blue!important;
            }
            .evaluation-text:before {
                border-color: transparent $timeline-white transparent transparent!important;
            }
        }
        .timeline-item:last-child { /* default  .timeline-item-last-light */
            padding-bottom: .3rem;
            border-bottom: $timeline-line-size solid $timeline-blue;
        }
        .timeline-item-last-dark {
            padding-bottom: .3rem!important;
            border-bottom: $timeline-line-size solid $timeline-white!important;
        }
        .timeline-item {
            text-align: left;
            position: relative;
            padding: .05rem;
            padding-bottom: .2rem;

            .line {
                width: $timeline-line-size;
                height: 100%; /* must has value but whatever value is */
                background-color: $timeline-blue;
                position: absolute;
                left: 28%;
                top: 0;
            }
            .time {
                width: $evaluation-left-width;
                /* 27% */
                position: relative;
                top: .01rem;
                color: $timeline-blue;

                .year {
                    font-size: 12px;
                }
                .date {
                    font-size: 20px;
                }
            }
            .right-info {
                width: $evaluation-right-width;
                /* 62% */
                margin-left: 9%;
                img.avatar {
                    width: .32rem;
                    height: .32rem;
                    position: absolute;
                    left: 27%;
                    margin-left: -.12rem; /* new way for all device */
                    top: .48rem;
                    z-index: $zIndex2;
                    border-radius: 50%;
                }
                .homework-title {
                    width: $evaluation-right-width;
                    position: absolute;
                    top: .15rem;
                    font-size: .12rem;
                    color: #676973;
                    font-family: "yo-font";
                }
                .evaluation-text {
                    font-size: 12px;
                    line-height: 1.7;
                    padding: .06rem;
                    border: 1px solid $timeline-blue;
                    border-radius: .03rem;
                    position: relative;
                    background-color: $timeline-blue;
                    color: $timeline-white;
                    margin-top: .35rem;
                    word-break: break-all;
                    /* mark */
                    text-align: justify;
                }
                .evaluation-text:before {
                    position: absolute;
                    content: "\00a0";
                    width: 0px;
                    height: 0px;
                    border-width: .08rem .15rem .08rem 0;
                    border-style: solid;
                    border-color: transparent $timeline-blue transparent transparent;
                    top: .15rem;
                    left: -.12rem;
                }
            }
        }
    }
}


/* evaluation end */


/**
 * iPhone 4/4s 
 */

@media only screen and (min-device-width: 319px) and (max-device-height: 481px) {
    .illy-img-list img {
        height: 1rem!important;
    }
    .question-text {
        font-size: 14px!important;
    }
    .bottom-checkAnswer-btn {
        height: .38rem!important;
        line-height: .38rem!important;
        bottom: .08rem!important;
    }
    .question .record-tips,
    .question .playRecord {
        top: 51%!important;
    }
}
